@page
@model PersonAddedModel

<h1>@ViewData["Title"]</h1>

<h3>Person Added</h3>
<b>First Name: </b> &nbsp @Model.person.firstName<br>
<b>Last Name: </b> &nbsp @Model.person.lastName<br>
<b>Date of Birth: </b> &nbsp @Model.person.dateOfBirth<br>
<b>Address: </b> &nbsp @Model.person.address<br>
<b>City: </b> &nbsp @Model.person.city<br>
<b>Country: </b> &nbsp @Model.person.country<br>
<b>Province: </b> &nbsp @Model.person.province<br>

